# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# VS code
.vscode

# gradle
build
.gradle

# other
eclipse
run
*.txt

# Files from Forge MDK
forge*changelog.txt

# Generated Resources cache
/src/main/generated_resources/.cache

# Other Shit
extra_assets
logs
src/main/resources/assets/minecraft/textures/misc/vignette.png.mcmeta
src/main/resources/assets/minecraft/textures/misc/vignette.png
src/main/resources/assets/minecraft/textures/misc/underwater.png
src/main/resources/assets/minecraft/textures/block/water_still.png.mcmeta
src/main/resources/assets/minecraft/textures/block/water_still.png
src/main/resources/assets/minecraft/textures/block/water_overlay.png
src/main/resources/assets/minecraft/textures/block/water_flow.png.mcmeta
src/main/resources/assets/minecraft/textures/block/water_flow.png
src/main/resources/assets/minecraft/textures/misc/vignette.png.mcmeta
src/main/resources/assets/minecraft/textures/misc/vignette.png
src/main/resources/assets/minecraft/textures/misc/underwater.png
src/main/resources/assets/minecraft/textures/block/water_still.png.mcmeta
src/main/resources/assets/minecraft/textures/block/water_still.png
src/main/resources/assets/minecraft/textures/block/water_overlay.png
src/main/resources/assets/minecraft/textures/block/water_flow.png.mcmeta
src/main/resources/assets/minecraft/textures/block/water_flow.png
